<a href="https://colab.research.google.com/github/Sushmaswaraj2020/Sushma_2020/blob/master/assignment12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Python program to find sum of elements in list 
total = 0
  
# creating a list 
list1 = [11, 5, 17, 18, 23]  
  
# Iterate each element in list 
# and add them in variale total 
for ele in range(0, len(list1)): 
    total = total + list1[ele] 
  
# printing total value 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [5]:
#Write a Python program to create a list of empty dictionaries
n = 5
l = [{} for _ in range(n)]
print(l)

[{}, {}, {}, {}, {}]

In [6]:
#Write a Python program to access dictionary keys element by index.
num = {'physics': 80, 'math': 90, 'chemistry': 86}
print(list(num)[0])

physics

In [7]:
#Write a Python program to iterate over dictionaries using for loops
d = {'Red': 1, 'Green': 2, 'Blue': 3} 
for color_key, value in d.items():
     print(color_key, 'corresponds to ', d[color_key])

Red corresponds to  1
Green corresponds to  2
Blue corresponds to  3

In [8]:
#Write a Python program to sum all the items in a dictionary.
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

In [9]:
#.Write a Python program to create a tuple
my_tuple = 3, 4.6, "dog"
print(my_tuple)

(3, 4.6, 'dog')

In [10]:
#Write a Python program to create a tuple with different data types
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [11]:
#Write a Python program to convert a tuple to a string\
def convertTuple(tup): 
    str =  ''.join(tup) 
    return str
tuple = ('g', 'e', 'e', 'k', 's') 
str = convertTuple(tuple) 
print(str)

geeks

In [17]:
#Write a Python program to convert a tuple to a dictionary.
tuplex = ((2, "w"),(3, "r"))
print(dict((y, x) for x, y in tuplex))

{'w': 2, 'r': 3}

In [18]:
#.Write a Python program to reverse a tuple
def Reverse(tuples): 
    new_tup = tuples[::-1] 
    return new_tup 
tuples = ('z','a','d','f','g','e','e','k') 
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')